* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

#price--title {
  width: 100%;
  height: auto;
  margin: 50px;

  .price--info {
    text-align: center;

    h1 {
      margin-bottom: 20px;
    }

    .price--period {
      justify-items: center;
      margin-top: 40px;

      button {
        width: 100px;
        height: 27px;
        border-radius: 5px;
        background-color: rgb(8, 64, 63);
        color: rgb(247, 247, 247);
        transform: scale;

      .range {
        position: relative;
        top: 3px;
      }
    }
  }
}
}
#category {
  width: 100vw;
  height: 100vh;

  .container {
    width: 609px;

    height: 370px;
    // border: 1px solid rgb(10, 62, 135);
    margin: auto;
    text-align: center;
    display: flex;

    .free {
      width: 203px;
      height: 370px;
      border: 2px solid rgb(9, 108, 154);
      border-radius: 5px;
      h1 {
        margin-top: 30px;

        font-style: bold;
      }
      p {
        margin-top: 20px;
        font-style: normal;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: small;
      }

      .sup {
        font-size: x-large;
        color: blue;
        position: relative;
        left: -35px;
        text-align: center;
      }
      span {
        font-size: 10px;
        color: blue;
        position: relative;
        left: -5px;
        top: -15px;
        opacity: 2px;
        font-weight: bold;
      }

      button {
        width: 170px;
        height: 30px;
        border: solid black 1px;
        border-radius: 5px;
        margin-top: 15px;
        color: white;
        background-color: rgb(6, 49, 49);
      }
    }

    .list-free {
      font-size: small;
      text-align: left;
      list-style-position: inside;

      list-style-image: url(./icons/check-circle\ \(3\).svg);
    }

    .standart {
      width: 203px;
      height: 370px;
      border: 2px solid rgb(47, 0, 255);;
      border-radius: 5px;
      background-color: rgb(39, 38, 38);
      color:white;
      
      
      h1 {
        margin-top: 30px;

        font-style: bold;
      }
      p {
        margin-top: 20px;
        font-style: normal;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: small;
      }

      .sup {
        font-size: x-large;
        color: rgb(149, 149, 241);
        position: relative;
        left: -35px;
        text-align: center;
      }
      span {
        font-size: 10px;
        color: rgb(255, 255, 255);
        position: relative;
        left: 16px;
        top: -15px;
        opacity: 2px;
        font-weight: bold;
      }

      button {
        width: 170px;
        height: 30px;
        border: solid black 1px;
        border-radius: 5px;
        margin-top: 15px;
        color: white;
        background-color: rgb(38, 0, 255);
      }
    }

    .list-standart {
        font-size: small;
      text-align: left;
      list-style-position: inside;

      list-style-image: url(./icons/check-circle\ \(3\).svg);
    }

    .premium {
      width: 203px;
      height: 370px;
      border: 2px solid rgb(9, 108, 154);
      border-radius: 5px;
      
      h1 {
        margin-top: 30px;

        font-style: bold;
      }
      p {
        margin-top: 20px;
        font-style: normal;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: small;
      }

      .sup {
        font-size: x-large;
        color: blue;
        position: relative;
        left: -35px;
        text-align: center;
      }
      span {
        font-size: 10px;
        color: blue;
        position: relative;
        left: 20px;
        top: -15px;
        opacity: 2px;
        font-weight: bold;
      }

      button {
        width: 170px;
        height: 30px;
        border: solid black 1px;
        border-radius: 5px;
        margin-top: 15px;
        color: white;
        background-color: rgb(6, 49, 49);
      }
    }

    .list-premium {
        font-size: small;
      text-align: left;
      list-style-position: inside;

      list-style-image: url(./icons/check-circle\ \(3\).svg);

    }
  }
}

